.App {
	text-align: center;
	align-items: center;
}

p {
	padding-left: 20px;
	padding-right: 20px;
	text-justify: auto;
}

.link1 {
	text-decoration: none;
	color: ghostwhite;
  text-shadow: 3px 3px 3px black; 
}

.link2 {
	text-decoration: none;
	color: ghostwhite;
  text-shadow: 1px 1px 1px black; 
}

